* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'nova';
    background: black;
    color: white;
}

p {
    font-size: 6rem;
}

.js {
    color: yellow;
}

.typed-text {
    color: #20c20e;
}

.cursor {
    background: #20c20e;
}