* {
    box-sizing: border-box;
}

body {
    font-family: machine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url(https://wallpaper.dog/large/20506666.jpg) no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vw + 60px);
    z-index: -1;
    filter: blur(0);
}

.loading-txt {
    font-size: 5rem;
    color: tomato;
}