* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.container {
    width: 30rem;
    height: 30rem;
    position: relative;
    overflow: hidden;
}

.container img {
    width: 100%;
    transition: all 1s;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 1s;
    background: #444;
    transform: translateX(-100%);
}

.container:hover .content {
    transform: translateX(0);
}

.container:hover img {
    transform: translateX(100%);
}